<section class="page_aside">
                        <div class="c-profile_aside">
                            <div class="c-profile_box">
                                <div class="c-profile_box-header">
                                    <div class="c-profile_box-avatar" style="background-image: url(/img/6.svg);">
                                    </div>
                                </div>
                                <div class="c-profile_box-username ">Stefano Beretta</div>
                            </div>
                            <div class="c-profile_menu">

                                <ul class="c-profile_menu-items">
                                    <li><a href="#" class="c-profile_menu-url c-profile_menu-url_dashboard is-active">test</a>
                                    </li>
                                    <li><a href="#" class="c-profile_menu-url c-profile_menu-url_address">LogOut</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
